/*

  Author		Ulises Rodríguez
  Site:			http://www.ulisesrodriguez.com	
  Twitter:		https://twitter.com/#!/isc_ulises
  Facebook:		http://www.facebook.com/ISC.Ulises
  Github:		https://github.com/ulisesrodriguez
  Email:		ing.ulisesrodriguez@gmail.com
  Skype:		systemonlinesoftware
  Location:		Guadalajara Jalisco Mexíco

  	
*/
select {
	background: #DFDFDF;
	color:#636363;
	width:100px;
	height:40px;
	border:none;
	font-size:12px;

}
.select{	margin-left:-30px !important;}

.select2{	margin-left:-60px !important;}

.select3{	margin-left:-90px !important;}


.table tfoot tr:hover{
	background-color:#666666 !important;
}



.table tfoot tr  td{
	border:none !important;
}


.table tfoot tr  td h6{
	float:right;
	pagging-right:5px !important;
}

.table tfoot tr  td p small{
	color:#fff;
}

.table tfoot tr:hover{
	color:#000;
}

.item-active{
	text-decoration:none;
}

.item-active h3 a{
	border-bottom:2px solid #A4A4A4
}

.item-desactive h3 a{
	color:#000
}

.item-desactive h3 a:hover{
	text-decoration:none;
	color:#000
}