@media print{
	html, body { height: 99% !important; }
	.navbar, .nav-tabs, .main-menu-span, .opciones, .toggleTable, footer, hr{
		display: none !important;
	}
	.box, .box-content, .row, .span6, form{
		margin: 0 !important;
		padding: 0 !important;
		border: none !important;
	}
	.container, .container-fluid {
	    width: auto;
	    display: block!important;
	 }
	.graph-container, .table-container{
		display: block !important;
		width: 45% !important;
	}
	.row, form{
		display: block;
		width: 100% !important;
	}

	.span6{
		width: 100% !important;
	}
	.graph-container{
		float: left !important;
	}
	.table-container{
		float: right !important;
	}
	.table-container table{
		margin-left: 20px;
	}
	.graph-clear{
		clear: both;
	}

	canvas, iframe, div, table, form{
		page-break-after: avoid !important;
		page-break-before: avoid !important;
	}

	form{
		position: absolute !important;
		top: 0px !important;
	}

	.chart-container{
		position: relative;
		top: 100px;
		margin-bottom: 100px;
	}
	#tablesorted{
		position: relative;
		width: 100% !important;
		height: auto !important;
		margin: 0 !important;
	}
	#tablesorted tr{
		page-break-after: auto !important;
	}
	h2, h3{
		padding-top: 50px !important;
		text-align: center !important;
		padding-left: 0 !important;
	}

	#AgentsSection h2, #AgentsSection h3{
		padding: 0px !important;
		top: 50px !important;
		position: absolute !important;
	}

	.printable{
		display: none !important;
	}
	.printable.print, form{
		display: block !important;
	}
	div{
		height: auto !important;
		margin: 0 !important;
	}
}